<div *ngIf="currentYear">
  <div class="row mt-4">
    <div class="col-lg-8 col-md-7 col-12">
      <div *ngIf="currentYear.courseStructureType !== 4">
      <app-courses-overview-classes [currentYear]="currentYear"></app-courses-overview-classes>
      <app-courses-overview-exams [currentYear]="currentYear"></app-courses-overview-exams>
      </div>
      <div *ngIf="currentYear.courseStructureType === 4">
      <app-courses-overview-parts></app-courses-overview-parts>
      </div>
      <app-courses-overview-study-programms></app-courses-overview-study-programms>
    </div>
    <router-modal></router-modal>
    <div class="col-lg-4 col-md-5 col-12">
      <app-courses-overview-general></app-courses-overview-general>
    </div>
  </div>
</div>