<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [allowSave]="false" [table]="students">
        <advanced-search>
          <app-advanced-search-form  (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.RegisteredStudents'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.RegisteredStudents'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group mr-3" role="group">
        <button type="button" class="btn btn-success btn-lg universis-btn-export">
          <span [translate]="'Students.Export'"></span>
        </button>
      </div>
      <div class="btn-group" *ngIf="this.students && this.students.selectable">
        <button [disabled]="!(this.students && this.students.selected && this.students.selected.length)"
                class="btn btn-outline-indigo btn-lg" (click)="changeCourseAction()" type="button"
                [translate]="'Courses.ChangeCourseAttributes'">
          Accept
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.students && this.students.selected && this.students.selected.length)" class="dropdown-item"
                  (click)="changeCourseAction()" [translate]="'Courses.ChangeCourseAttributes'">
          </button>

          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="students.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="students.selectNone()" [translate]="'Tables.ClearSelection'">Clear
            selection
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [showFooter]="false" (load)="onDataLoad($event)" #students [selectable]="true" [height]="600" >
      </app-advanced-table>
    </div>
  </div>

  <router-modal></router-modal>

</div>
