<div class="col-12 tab-navbar tab-container">
  <ul class="mt-3 nav nav-tabs d-flex">
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'StudyPrograms.Overview'" [routerLink]="['general']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
    <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'StudyPrograms.Specialties'" [routerLink]="['specialties']"
       [routerLinkActive]="'active'"></a>
  </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'StudyPrograms.Groups'" [routerLink]="['groups']"
         [routerLinkActive]="'active'"></a>
    </li>
    <ng-container *ngIf="studySpecializations">
      <li class="nav-item" *ngFor="let specialization of studySpecializations">
        <a class="nav-link pl-lg-5 pr-lg-5 text-uppercase"
           [routerLink]="['specialization', specialization.specialty, 'courses']"
           [lang]="_translateService.currentLang"
           [routerLinkActive]="'active'">{{specialization.name}}</a>
      </li>
    </ng-container>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'StudyPrograms.SemesterRules'" [routerLink]="['semesterRules']"
         [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
      <router-modal></router-modal>
    </div>
  </div>
</div>
