<div>
  <!-- search -->
  <div class="row mt-3">
    <div class="col-12 col-lg-6" [ngClass]="{ 'invisible': (selectedReport != null)}">
      <div class="input-group mb-3">
        <input spellcheck="false" type="text"
               (keyup)="onKeyUp($event)" [(ngModel)]="searchText"
               class="form-control bg-gray-100 border-0"
               placeholder="{{'Tables.SearchPlaceholder' | translate}}" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-default bg-gray-100 border-0" type="button" (click)="this.table.search(this.searchText)">
            <i class="fa fa-search text-secondary"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5" [ngClass]="{ 'd-none': selectedReport != null }">
      <div class="btn-toolbar">
        <div class="dropdown" dropdown>
          <button #filterDropdown dropdownToggle class="btn btn-gray-100 dropdown-toggle" type="button" id="dropdownDefaultFilters"
            data-toggle="dropdown"> <i class="fa fa-sliders-h pr-2 text-secondary"></i>
            {{ this.filterValues.defaultFilterValue | translate }}
          </button>
          <ng-container *ngIf="!this.firstLoad">
            <div class="dropdown-menu" aria-labelledby="dropdownDefaultFilters">
              <a class="dropdown-item" *ngFor="let filterValue of filterValues.reportCategories"
                (click)="onFilterClick($event)">
                {{ filterValue | translate}}
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" [ngClass]="{ 'component-loading': loading}">
      <!--begin:reports-->
      <div [ngClass]="{ 'd-none': selectedReport != null }" class="report-list">
         <!--report row template-->
          <app-advanced-table #table
          (load)="onDataLoad($event)"
          [selectable]="true"
          [customSelect]="true"
          (select) = "onRowSelect($event)"
          [multipleSelect] = false
          [scrollX]="false" [scrollY]="320"
          [scrollable]="true" [showFooter]="false"></app-advanced-table>
      </div>
      <!--end:reports-->
      <!--begin:properties-->
      <ng-container *ngIf="reportForm && selectedReport">
        <app-print-report
          [reportForm]="reportForm"
          [lastError]="lastError"
          [selectedReport]="selectedReport"
          [parentCommands]="modalButtons$"
          [formProperties]="formProperties"
          (formValidity)="onFormValidation($event)"
        ></app-print-report>
      </ng-container>
      <!--end:properties-->
    </div>
  </div>
</div>
