<div class="col-12 tab-navbar tab-container">
  <ul class="mt-3 nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"
         [translate]="'Sidebar.ArchivedDocuments'"></a>
    </li>
    <ng-container *ngIf="departmentDocumentNumberSeries && departmentDocumentNumberSeries.length >0">
      <li class="nav-item" *ngFor="let documentNumberSerie of departmentDocumentNumberSeries">
        <a *ngIf="documentNumberSerie.additionalType!='InstituteDocumentNumberSeries'" class="nav-link pl-lg-5 pr-lg-5 text-uppercase"
          [routerLink]="['series', documentNumberSerie.id, 'items','list']"
           [lang]="_translateService.currentLang"
           [routerLinkActive]="'active'">{{documentNumberSerie.name}}</a>
        <a *ngIf="documentNumberSerie.additionalType==='InstituteDocumentNumberSeries'" class="nav-link pl-lg-5 pr-lg-5 text-uppercase"
           [routerLink]="['series', documentNumberSerie.id, 'items','parent']"
           [lang]="_translateService.currentLang"
           [routerLinkActive]="'active'">{{documentNumberSerie.name}}</a>
      </li>
    </ng-container>


    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>


  <div class="tab-content" *ngIf="departmentDocumentNumberSeries && departmentDocumentNumberSeries.length>0">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="departmentDocumentNumberSeries && departmentDocumentNumberSeries.length===0">

    <div class="text-center pt-5">
      <div class="mt-4">
        <div class="icon-circle bg-gray-300 border-gray-100"></div>
      </div>
      <div class="mt-5"><h4 class="font-3xl text-dark" [translate]="'Tables.EmptyTableTitle'"></h4>
        <p class="font-lg text-dark ">
          <a class="text-indigo text-decoration-none" [routerLink]="['series', { outlets:{ modal:'add'} }]">
            <span [translate]="'Documents.Lists.DepartmentDocumentNumberSeries.Create'"></span>
          </a></p></div>
    </div>
  </div>
</div>
